.active {
    overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        img {
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 20px;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-img {
            margin-right: 20px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            padding-right: 8px;

            span {
                font-size: 16px;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
            }
        }

        &-btn {
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__price {
        ul {
            margin-bottom: 24px;

            li {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                span {
                    font-size: 16px;
                    line-height: 19px;
                }

                div {
                    position: relative;
                    top: -3px;
                    flex: 1;
                    margin: 0 9px;
                    border-bottom: 1px dashed #DFDFDF;
                }
            }
        }

        button {
            position: relative;

            img {
                position: absolute;
                right: 30px;
                top: 20px;
                transition: transform 0.1s ease-in-out;
            }

            &:hover {
                img {
                    transform: translateX(5px);
                }
            }
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 0;

        &-img {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 9px;
        }

        p {
            opacity: 0.6;
            font-size: 16px;
            text-align: center;
            margin-bottom: 40px;
        }

        button {
            max-width: 245px;

            img {
                position: relative;
                transform: rotate(-180deg);
                margin-right: 20px;
                transition: right 0.1s ease-in-out;
            }
            
            &:hover {
                img {
                    right: 5px;
                }
            }
        }
    }
}
